body{
    padding-left:0;
    padding-right:0;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

input,textarea,select{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}

.mainContainer{
    background-color: #fafafa;
}

.container{
    background-color: #fafafa;
}

#container{
    width:100%;
    z-index: 5;
    left: 0px;
    height: 100%;
    position:absolute;
    background:#fafafa;
    -webkit-box-shadow:  -1px 0px 1px 0px rgba(0, 0, 0, 0.2);
    moz-box-shadow:  -1px 0px 1px 0px rgba(0, 0, 0, 0.2);
    o-box-shadow:  -1px 0px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  -1px 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.container-view {
    padding-left:15px;
    padding-right:15px;
}

/****************************Menu****************************/


#menu {
    float:left;
    width: 230px;
    height: 100%;
    background-color: #3d3c3a;
    padding-top: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#menu li {

/*    border-top: 1px solid #212121;
    border-bottom: 2px solid #383838;*/
    width: 100%;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
}


#menu ul{
/*    border-bottom: 1px solid #212121;*/
}

#menu li:first-child{
    border-top: 0 none;

}

#menu li img{
    /*float:left;
    padding:10px;*/
}
#menu li:active, #menu li:focus, #menu li:hover, #menu li.active{
    background:#4bbfe2;
}

/*.menuNavigation li:active, .menuNavigation li:focus, .menuNavigation li:hover {
    background:#88bc40;
}*/

#menubar {
    width:100%;
    background-color:#333;
    color: #fff;
    padding: 10px;
}

#top-menu {
    cursor:pointer;
    margin-top: 4px;
}

#menu ul{
    padding-left:0;
    margin-left:0;
}

#menu ul li{
    list-style-type:none;
}


#menu, #container {
    display:inline;
}


#menu li a {
    padding: 10px;
    display: inline;
    color: #fafafa;
    text-decoration: none;
}


textarea{
    resize:none;
    height:50px;
    max-height:50px;
    overflow:scroll;
}

.left-button{
    width:50%;
}

.right-button{
    width:40%;
    margin-left:10%;
}

.button-container{
    text-align:center;
    margin-bottom:30px;
}

.button-area{
    margin-bottom:15px;
}


.double-button{
    margin-top:30px;
}
.triple-button .left-button{
        width:25%;
}

.triple-button .left-button:first-child{
        width:25%;
        margin-left:25%;
}

.triple-button .right-button{
        width:25%;
        float:right;
        margin-right:7%;
}

.tripple-button .alignright {
        text-align:left;
}

.alignright{
    text-align:right;
}


.alignleft{
    text-align:left;
}

.form-container{
    margin-top:10px;
    max-height:100px;
}

.form-group{
    overflow:hidden;
}

.form-group label{
    width:28%
}

#loginform .input-field {
    padding-left: 15%;
}

.btn-lg {
   padding: 10px;
   font-size: 16px;
}

.editformConatiner{
    margin-top:30px;
}

.todo-container{
    margin-top:0;
}

.button-center{
    text-align:center;
}

.box{
    border: 1px solid #ddd;
    padding:2%;
    margin-bottom: 20px;
    border-radius: 5px;
    /*box-shadow: 0px 0px 10px #E8E8E8;*/
}

.logo{
    width:9%;
    margin-top: -5px;
    margin-bottom: 7px;
}

.logo-title{
    font-weight:bold;
    margin-left: 4px;
}

.logo,.pull-right img{
    height: 40px;
    float: right;
}

.top-box{
    width: 80%;
    text-align: center;
}

.bigbox{
    height: 60px;
}

.smallbox {
    height:auto;
}


.login-description,.about-description,.map-container{
    margin-top:20px;
    margin-bottom:20px;
}

.login-description p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input-field {
    width:70%;
}

select.input-field{
    width:70%;
}

#username {
    background: url(../images/user.png) rgba(0,0,0,.5);
    background-repeat: no-repeat;
}

#password {
    background: url(../images/lock.png) rgba(0,0,0,.5);
    background-repeat: no-repeat;
}

#confirmLocation {
    width: 30%;
}

/****************************End ------ Buttons****************************/


.top-header{
    margin-bottom:10px;
    padding: 20px 15px 0 15px;
    background-color: #3d3c3a;
    color: #fafafa;
}

.refreshbutton{
    text-align:center;
}

.single-button{
    margin-top:15px;
}

.lead{
    font-size:18px;
}

.form-group label{
    margin-top: 6px;
}

.form-group{
    margin-bottom:15px;
}

input[type="button"]{
    -webkit-appearance: none;
}

span.date{
    margin-right:10%;
    display:inline-block;
    width:30%;
}

span.description{
    display:inline-block;
    width:53%;
}

span.arrow-icon{
    display:inline-block;
    width:5%;
}

a.list-group-item:hover,
a.list-group-item:focus {
    text-decoration: none;
    background-color: #428bca;
    border-color: #428bca;
    color:#fff;

}

.error-container{
    text-align:center;
    margin-bottom:10px;
    color:#F00;
}

.photo-thumbnail{
    width:45%;
    /*border: 1px solid #333;*/
    padding:1px;
}

.photo-thumbnail img{
    width:100%;
    max-width:100%;
}

.photo-container{
    width:70%;
}

#loader{
    display:none;
    position: absolute;
    left:48%;
    top:48%;
    height:32px;
    width:32px;
    background:url('../images/loader1.gif');
    z-index: 20000;
    background-size: 100% 100%
}

#overlay{
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#000;
    width: 100%;
    z-index: 500;
}
.back-btn{
    width: 10%;
    float: left;
    padding-top: 0px;
    padding-bottom: 10px;
    cursor: pointer;
}
select { visibility: visible; -webkit-appearance:listbox;  background: #0f0;  border: 1px solid #ff0;}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    border-color: rgba(82,168,236,0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    color:#000;
}
