<div id="menu">
    <ul>
        <li class="menuNavigation" id="guestName"><img src="images/user.png" /><a id="guest"></a></li>
        <li class="menuNavigation " id="createToDo"><img src="images/create.png" /><a>Create a To-Do</a></li>
        <li class="menuNavigation" id="location"><img src="images/map.png" /><a>My Location</a></li>
        <li class="menuNavigation" id="about"><img src="images/info.png" /><a>About</a></li>
        <li class="menuNavigation" id="logOut"><img src="images/lock.png" /><a>Logout</a></li>
    </ul>
</div>
<div class="container" id="container">
    <div class="top-header">
        <div class="row-fluid">
            <div class="span12">
                <div class="logo pull-left">
                    <div class="menu" id="top-menu">
                        <i class="icon-reorder icon-2x"></i>
                    </div>                    
                </div>
               
                <div class="top-box lead pull-left">
                    My To Do's
                </div>
                 <div class="logo pull-right">
                    <img src="images/logo.png" alt="FeedHenry Logo" />
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container-view">
        <div class="todo-container">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="list-group" id="todoListing">                    
                    </ul>
                </div>
            </div>
        </div>
        <div class="button-container">
            <div class="row-fluid">
                <div class="refreshbutton button-area">
                    <button name="refresh" id="refresh" class="btn btn-primary btn-lg">Refresh</button>
                </div>
            </div>
        </div>    
    </div>
</div>
